*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  background: #FFFFFF;
  position: relative;
  width: 1440px;
  font-family: 'Lato';
  margin: 0;
}
.home {
    height: 1860px;
  }
.play {
  height: 924px;
}
.about {
  height: 700px;
}

  #logo {
    position: absolute;
    left: 310px;
    top: 76px;
    display: inline-block;
  }

  .nav {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
  }
  .nav_list {
    color: #92AAC7;
    display: flex;
    justify-content: space-between;
    list-style: none;
    letter-spacing: 1px;
    padding-top: 110px;
  }
  .nav_list-item1 {
    position: absolute;
    width: 39px;
    height: 19px;
    left: 775px;
    top: 110px;
  }
  .nav_list-item1:hover {
    color: #666666
  }
  .nav_list-item2 {
    position: absolute;
    width: 30px;
    height: 19px;
    left: 900px;
    top: 110px;
  }
  .nav_list-item2:hover {
    color: #666666
  }
  .nav_list-item3 {
    position: absolute;
    width: 44px;
    height: 19px;
    left: 1016px;
    top: 110px;
  }
  .nav_list-item3:hover {
    color: #666666
  }

  .nav_link {
    text-decoration: none;
    color: inherit;
  }
.hero{
  padding-left: 380px;
}
.word {
    color: #92AAC7;
    width: 231px;
    height: 43px;
    left: 380px;
    top: 226px;
    padding-top: 100px;
    padding-bottom: 30px;

    white-space: nowrap;
    font-style: bold;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
  }
  .p1 {
    color: #0F0F0F;
    width: 420px;
    height: 152px;
    left: 380px;
    top: 298px;
    padding-top: 1em;

    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
  }

  #sparkles {
    color: #FC9D9A;
    width: 234px;
    height: 14px;
    left: 380px;
    top: 269px;
    padding-top: 20px;

    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
  }

  #Previously {
    color: #2D2E2E;
    width: 299px;
    height: 14px;
    left: 380px;
    top: 465px;
    padding-top: 1em;

    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    white-space: nowrap;
  }

  figcaption {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    white-space: nowrap;

    color: #92AAC7;
  }

  #cacicaption {
    position: absolute;
    width: 99px;
    height: 14px;
    left: 330px;
    top: 816px;
  }
  .gif {
    width: 380px;
    height: 225px;
    margin-left: 730px;
    margin-top: 108px;
    
    overflow: hidden;
  }
  .gif img {
    position: static;
    left: 730px;
    top: 582px;
    transition: all 0.3s;
  }
  .gif:hover img{
    transform: scale(1.1);
  }
  #pwcaption {
    position: absolute;
    width: 93px;
    height: 14px;
    left: 730px;
    top: 816px;
  }
  #ar {
    position: absolute;
    width: 380px;
    height: 225px;
    left: 330px;
    top: 862px;
  }
  #arcaption {
    position: absolute;
    width: 103px;
    height: 14px;
    left: 330px;
    top: 1095px;
  }
  #sof {
    position: absolute;
    width: 380px;
    height: 225px;
    left: 730px;
    top: 862px;
  }
  #sofcaption {
    position: absolute;
    width: 118px;
    height: 14px;
    left: 730px;
    top: 1097px;
  }
  #ap {
    position: absolute;
    width: 380px;
    height: 225px;
    left: 330px;
    top: 1142px;
  }

  #apcaption {
    position: absolute;
    width: 78px;
    height: 14px;
    left: 330px;
    top: 1379px;
  }
  #se {
    position: absolute;
    width: 380px;
    height: 225px;
    left: 730px;
    top: 1142px;
  }
  #secaption {
    position: absolute;
    width: 87px;
    height: 14px;
    left: 730px;
    top: 1377px;
  }
  #le {
    position: absolute;
    width: 380px;
    height: 225px;
    left: 330px;
    top: 1422px;
  }
  #lecaption {
    position: absolute;
    width: 95px;
    height: 14px;
    left: 330px;
    top: 1655px;
  }
  #od {
    position: absolute;
    width: 380px;
    height: 225px;
    left: 730px;
    top: 1422px;
  }
  #odcaption {
    position: absolute;
    width: 160px;
    height: 14px;
    left: 729px;
    top: 1657px;
  }
  #caci_website {
    text-decoration: none;
    color: #2d2e2e;
  }
  .footer {
    position: absolute;
    padding-top: 62px;
    padding-bottom: 63px;
  }
    .footer_link {
      display: flex;
      justify-content: space-between;
      margin-left: 630px;
      list-style: none;
  }
  .linkedin {
    position: relative;
    bottom: 1px;
  }
  .ig {
    position: relative;
  }
  .medium {
    position: relative;
  }
  .mail {
    position: relative;
  }
  .space {
    padding-bottom: 870px;
  }
  .about_hero {
    padding-bottom: 36px;
    height: 120px;
  }
  #about1 {
    position: absolute;
    left: 520px;
    top: 188px;
  }
  #about2 {
    position: absolute;
    left: 730px;
    top: 188px;
  }
  .word2 {
    position: absolute;
    width: 154px;
    height: 30.85px;
    left: 380px;
    top: 338.47px;

    color: #92AAC7;
    white-space: nowrap;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 29px;
  }
  .p2 {
    position: absolute;
    width: 610px;
    height: 161.7px;
    left: 380px;
    top: 385px;

    color: #000000;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
  }
  .space2 {
    padding-bottom: 420px;
  }
  #resume {
    display: inline-block;
    border: 1px solid #92AAC7;
    color: #92AAC7;
    border-radius: 5px;
    text-decoration: none;
    
    text-align: center;
    width: 120px;
    height: 36px;
    position: absolute;
    left: 660px;
    top: 620px;
    padding-top: 7px;
  }
  #resume:hover {
    color: white;
    background-color: #92AAC7;
    padding-top: 7px;
    text-decoration: none;
}
#maillink {
  text-decoration: none;
  color: #FC9D9A;
}
.traditional {
  width: 380px;
  height: 225px;
  margin-left: 330px;
  margin-top: 98px;
  
  overflow: hidden;
}
.traditional img {
  position: static;
  transition: all 0.3s;
}
.traditional:hover img{
  transform: scale(1.1);
}
#traditionalcaption {
  position: absolute;
  width: 57px;
  height: 14px;
  left: 330px;
  top: 440px;

  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
}
.digital {
  width: 380px;
  height: 225px;
  margin-left: 730px;
  margin-top: -225px;
  
  overflow: hidden;
}
.digital img {
  position: static;
  transition: all 0.3s;
}
.digital:hover img{
  transform: scale(1.1);
}
#digitalcaption {
  position: absolute;
  width: 35px;
  height: 14px;
  left: 730px;
  top: 440px;
  
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
}
._3d {
  width: 380px;
  height: 225px;
  margin-left: 330px;
  margin-top: 55px;
  
  overflow: hidden;
}
._3d img {
  position: static;
  transition: all 0.3s;
}
._3d:hover img{
  transform: scale(1.1);
}
#_3dcaption {
  position: absolute;
  width: 17px;
  height: 14px;
  left: 330px;
  top: 721px;
  
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
}
.sketchbook {
  width: 380px;
  height: 225px;
  margin-left: 730px;
  margin-top: -225px;
  
  overflow: hidden;
}
.sketchbook img {
  position: static;
  transition: all 0.3s;
}
.sketchbook:hover img{
  transform: scale(1.1);
}
#sketchbookcaption {
  position: absolute;
  width: 63px;
  height: 14px;
  left: 730px;
  top: 721px;
  
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
}
.space3 {
  padding-bottom: 50px;
}
.caci_hero {
  padding-bottom: 36px;
  height: 120px;
}
.caci_h1 {
  position: absolute;
  width: 246px;
  height: 31px;
  left: 380px;
  top: 220px;

  color: #92AAC7;
  white-space: nowrap;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 29px;
}
.caci_p {
  position: absolute;
  width: 610px;
  height: 140px;
  left: 380px;
  top: 291px;

  font-family: 'Lato';
  font-style: normal;
  font-size: 16px;
  line-height: 20px;

  color: #000000;
}
.pw_hero {
  padding-bottom: 36px;
  height: 120px;
}
.pw_h1 {
  position: absolute;
  width: 246px;
  height: 31px;
  left: 380px;
  top: 220px;

  color: #92AAC7;
  white-space: nowrap;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 29px;
}
.pw_p {
  position: absolute;
  width: 610px;
  height: 140px;
  left: 380px;
  top: 291px;

  font-family: 'Lato';
  font-style: normal;
  font-size: 16px;
  line-height: 20px;

  color: #000000;
}
.se_hero {
  padding-bottom: 36px;
  height: 120px;
}
.se_h1 {
  position: absolute;
  width: 246px;
  height: 31px;
  left: 380px;
  top: 220px;

  color: #92AAC7;
  white-space: nowrap;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 29px;
}
.se_p {
  position: absolute;
  width: 610px;
  height: 140px;
  left: 380px;
  top: 291px;

  font-family: 'Lato';
  font-style: normal;
  font-size: 16px;
  line-height: 20px;

  color: #000000;
}
#se_button {
  display: inline-block;
  border: 1px solid #92AAC7;
  color: #92AAC7;
  border-radius: 5px;
  text-decoration: none;
  
  text-align: center;
  width: 120px;
  height: 36px;
  position: absolute;
  left: 660px;
  top: 480px;
  padding-top: 7px;
}
#se_button:hover {
  color: white;
  background-color: #92AAC7;
  padding-top: 7px;
  text-decoration: none;
}
#se_image {
  position: absolute;
  left: 520px;
  top: 546px;
}
._3d_images {
  position: absolute;
  left: 270px;
  top: 550px;
}
#animal_image1 {
  position: absolute;
  width: 800px;
  height: 518px;
  left: 320px;
  top: 560px;
}
#animal_button2 {
  display: inline-block;
  border: 1px solid #92AAC7;
  color: #92AAC7;
  border-radius: 5px;
  text-decoration: none;
  
  text-align: center;
  width: 120px;
  height: 36px;
  position: absolute;
  left: 660px;
  top: 1300px;
  padding-top: 7px;
}
.se_p2 {
  position: absolute;
  width: 610px;
  height: 140px;
  left: 380px;
  top: 1100px;

  font-family: 'Lato';
  font-style: normal;
  font-size: 16px;
  line-height: 20px;

  color: #000000;
}
#animal_button2:hover {
  color: white;
  background-color: #92AAC7;
  padding-top: 7px;
  text-decoration: none;
}
.animal_image2 {
  position: absolute;
  left: 270px;
  top: 1370px;
}
.space_animal {
  padding: 1140px;
}
#animal_button3 {
  display: inline-block;
  border: 1px solid #92AAC7;
  color: #92AAC7;
  border-radius: 5px;
  text-decoration: none;
  
  text-align: center;
  width: 120px;
  height: 36px;
  position: absolute;
  left: 660px;
  top: 2100px;
  padding-top: 7px;
}
.se_p3 {
  position: absolute;
  width: 610px;
  height: 140px;
  left: 380px;
  top: 1900px;

  font-family: 'Lato';
  font-style: normal;
  font-size: 16px;
  line-height: 20px;

  color: #000000;
}
#animal_button3:hover {
  color: white;
  background-color: #92AAC7;
  padding-top: 7px;
  text-decoration: none;
}
.animal_video {
  position: absolute;
  left: 400px;
  top: 2170px;
}
.le_images {
  position: absolute;
  left: 230px;
  top: 550px;
}
.le_video {
  position: absolute;
  left: 400px;
  top: 1380px;
}
.space_le {
  padding: 760px;
}
.ss_images {
  position: absolute;
  left: 318px;
  top: 550px;
}
.space_ss {
  padding: 580px;
}
.od_images {
  position: absolute;
  left: 178px;
  top: 510px;
}
.od_video {
  position: absolute;
  left: 624px;
  top: 1440px;
}
.space_od {
  padding: 780px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
.trad_images {
  position: absolute;
  left: 300px;
  top: 200px;
}
.space_trad {
  padding: 580px;
}
.space_digital {
  padding: 320px;
}
.space_3d {
  padding: 300px;
}
.space_sketch {
  padding: 1550px;
}
.sb_images {
  position: absolute;
  left: 0px;
  top: 200px;
}
#map {
  position: absolute;
  left: 297px;
  top: 725px;
}

.space_pw {
  padding: 900px;
}

.raposter {
  position: absolute;
  left: 530px;
  top: 540px;
}

.didotspread {
  position: absolute;
  left: 310px;
  top: 1360px;
}

.gif2 {
  width: 380px;
  height: 225px;
  margin-left: 290px;
  margin-top: -240px;
  
  overflow: hidden;
}
.gif2 img {
  position: static;
  left: 330px;
  top: 582px;
  transition: all 0.3s;
}
.gif2:hover img{
  transform: scale(1.1);
}
.ar_video {
  position: absolute;
  left: 400px;
  top: 1450px;
}
.space_ar {
  padding: 800px;
}