@use "../../../../colors.scss" as c;

.workPage, .workPageM {
  #typographyWork {
    display: flex;
    flex-direction: column;

    h2 {
      margin-top: 1rem;
    }

    .posterImages {
      #right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .row {
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }
}

.workPage {
  #typographyWork {
    .posterImages {
      display: flex;
      justify-content: space-between;
      margin: 2rem 0;

      #left {
        height: 57.3vw;
      }

      #right {
        height: 57.3vw;

        .row {
          img {
            height: 18.3vw;
            width: 12vw;
            margin: 0 0.5rem;

            &:hover {
              transform: scale(1.03);
            }
          }
        }

        #row2 {
          margin: 0.7rem 0;
        }
      }
    }

    .spreadImages {
      display: flex;
      justify-content: space-between;
      margin: 2rem 0;

      #left {
        height: 30vw;
      }

      #right {
        height: 30vw;

        .row {
          img {
            height: 9.1vw;
            width: 15vw;
            margin: 0 0.5rem;

            &:hover {
              transform: scale(1.03);
            }
          }
        }

        #row2 {
          margin: 0.7rem 0;
        }
      }
    }
  }
}

.workPageM {
  #typographyWork {

    h2 {
      margin-top: 2rem;
    }

    h3 {
      margin-bottom: 2rem;
    }

    .posterImages {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      #left, #right {
        width: 80vw;
      }

      #right {
        .row {
          margin: 2rem 0;

          img {
            height: 36vw;
            width: 24vw;
          }
        }

        #row2 {
          margin: 0.7rem 0;
        }
      }
    }

    .spreadImages {
      #left, #right {
        width: 80vw;
      }

      #right {
        .row {
          display: flex;
          justify-content: space-between;

          img {
            height: 25.5vw;
            width: 39vw;
            margin: 0.5rem 0;

            &:hover {
              transform: scale(1.03);
            }
          }
        }
      }
    }
  }
}