@use "../colors.scss" as c;

nav {
  margin: 2rem 0rem;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;

  ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin-right: 3rem;

    li a {
      color: c.$black;
      font-size: 1rem;
      text-decoration: none;
      transition: all 0.2s;
      margin: 0rem 50px;

      &:visited {
        color: c.$black;
      }

      &:hover {
        color: c.$secondary;
      }
    }
  }
}

.active {
  color: c.$primary !important;
}

#logo {
  width: 75px;
  height: 75px;
  background: url('../../assets/logo/Logo.svg') no-repeat;
  margin-left: 3rem;

  &:hover {
    background: url('../../assets/logo/LogoHover.svg') no-repeat;
  }
}