@use "../colors.scss" as c;

nav {
  padding-top: 3rem;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;

  ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin-right: 3rem;

    li a {
      color: c.$black;
      font-size: min(1.8vw, 20px);
      text-decoration: none;
      transition: all 0.2s;
      margin: 0rem 50px;

      &:visited {
        color: c.$black;
      }

      &:hover {
        color: c.$secondary;
      }
    }
  }
}

.active {
  color: c.$primary !important;
}

#logo {
  width: 75px;
  height: 75px;
  background: url('../../assets/logo/logo.png') no-repeat;
  background-size: 52px;
  margin-left: 3rem;

  &:hover {
    background: url('../../assets/logo/logoHover.png') no-repeat;
    background-size: 75px;
  }
}

#navMobile {
  position: fixed;
  top: 0;
  padding: 1rem 0rem;
  background-color: c.$white;
  z-index: 1;

  #logo {
    margin-left: 2rem;
    width: 50px;
    height: 50px;
    background-size: 34px;

    &:hover {
      background-size: 50px;
    }
  }
}

#navMobileRow {
  font-size: 2rem;
  color: c.$primary;

  #menuIcon {
    margin-right: 2rem;
  }

  #menuIcon, #closeIcon {
    &:hover {
      color: c.$secondary;
      cursor: pointer;
    }
  }
}

.navMenu {
  display: flex;
  flex-direction: column;
  width: 90%;
  position: fixed;
  margin: auto;
  right: -100%;
  top: 13vh;
  opacity: 1;
  transition: all 0.5s ease;

  li {
    padding-bottom: 1rem;
    font-size: 2rem;

    a {
      font-size: 1.2rem;
    }
  }

  #closeIcon {
    font-size: 1.5rem;
    align-self: flex-end;
    line-height: 0;
    margin-right: 1rem;
    margin-top: 1rem;
  }
}

.navMenu.active {
  background-color: c.$white;
  border-radius: 0.25rem;
  left: 0%;
  right: 0%;
  list-style: none;
  border: c.$secondary 2px solid;
  transition: all 0.5s ease;
  z-index: 1;
}